{
	"presets": [
		"@babel/preset-typescript",
		"@babel/preset-react",
		"@linaria"
	],
	"plugins": [
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
		"transform-react-remove-prop-types",
	]
}
